@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: lato;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #1A1A1A;
    color: white;
}

header{
    padding-block: 2rem;
    padding-inline: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
}

.menu{
    display: none;
}

.close-menu{
    display: none;
}

.name{
    text-decoration: none;
    color: #918afd;
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
}

.name:hover{
    color: #918afd;
}

nav{
    display: block;
}

nav a{
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    border-bottom: 2px solid transparent;
    font-weight: 600;
    cursor: pointer;
}

nav a:hover,
nav .home{
    color: #918afd;
    border-bottom: 2px solid #918afd;
}

main{
    display: flex;
    padding-inline: 10rem;
    padding-block: 4rem;
    align-items: center;
    gap: 20px;
}

.main-img img{
    border-radius: 50%;
    width: 28vw;
}

.main-container h1{
    font-size: 3.5rem;
    padding-bottom: 1rem;
}

span{
    color: #918afd;
}

.typing-text{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.typing-text span::before{
    content: "";
    animation: words 15s infinite;
}

@keyframes words{
    0%, 25%{
        content: "Programistą";
    }
    26%, 50%{
        content: "Maturzystą";
    }
    51%, 75%{
        content: "Sportowcem";
    }
    76%, 100%{
        content: "Muzykiem";
    }
}

.main-container p{
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.social-icons{
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
}

.social-icons a{
    color: #918afd;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.4rem;
    transition: 0.3s ease;
    border-radius: 50%;
    cursor: pointer;
}

.social-icons a:hover{
    color: #1A1A1A;
    background-color: #918afd;
    box-shadow: 0 0 20px #918afd;
}

.button{
    color: #918afd;
    border: 0.2rem solid #918afd;
    border-radius: 1rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    transition: 0.3s ease;
    font-weight: 600;
    cursor: pointer;
}

.button:hover{
    color: #1A1A1A;
    background-color: #918afd;
    box-shadow: 0 0 20px #918afd;
}

@media(max-width: 900px){

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 4rem;
        gap: 6rem;
    }

    header span img{
        max-width: 50px;
        min-width: 1px;
        max-height: 50px;
        min-height: 1px;
    }

    

    .menu{
        display: block;
    }

    .close-menu{
        display: none;
    }

    nav{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 80vw;
        z-index: 999;
        background-color: rgba(35, 35, 35, 0.9);
        display: none;
        flex-direction: column;
        padding-top: 3rem;
        backdrop-filter: blur(4px);
        gap: 2rem;
        transition: 1s ease-in-out;
    }

    nav a{
        width: 80vw;
        text-decoration: none;
        color: white;
        line-height: 2rem;
    }

    nav span{
        padding-left: 2rem;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 4rem;
        padding-top: 2rem;
    }

    .main-img{
        padding-bottom: 2rem;
    }

    
    .typing-text{
        padding-bottom: 1rem;
    }

    .social-icons a{
        padding-block: 0.5rem;
        padding-inline: 1rem;
    }
}

@media(max-width: 550px){
    .main-container h1{
        font-size: 2.5rem;
    }

    .typing-text{
        font-size: 1.5rem;
    }

    .social-icons{
        display: flex;
    }
}